<p>
  {% if LICENSE %}
      {{ LICENSE }} 
  {% else %}
    {% set years = dates|groupby('date.year')|sort(reverse=False) %}
    {% set sinceYear = years|first|first|default('2014') %}
    {% set toYear = years|last|first|default('2014') %}
    Copyright &copy; {% if sinceYear == toYear %} {{ sinceYear }} {% else %} {{ sinceYear }}&ndash;{{ toYear }} {% endif%} {{ AUTHOR }} &mdash;
  {% endif %}
  <span class="credit">Powered by <a href="http://getpelican.com">Pelican</a>
  and the great <a href="https://github.com/duilio/pelican-octopress-theme">Octopress theme</a>
  (with minor <a href="https://github.com/otaku42/pelican-octopress-theme">tweaks</a>).
  </span>
</p>
